<nb-layout>
  <nb-layout-column class="column-container">
    <div class="wrapper">
      <div class="container">
        <h1>Welcome to Medbooker</h1>
        <div class="test">
          <button
            nbButton
            outline
            status="basic"
            id="login-button"
            routerLink="/login"
          >
            Login
          </button>
          <button
            nbButton
            outline
            status="basic"
            id="register-button"
            routerLink="/register"
          >
            Register
          </button>
        </div>
      </div>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </nb-layout-column>
</nb-layout>
