<ng-container *ngIf="registerForm">
  <nb-layout>
    <nb-layout-column class="column-container">
      <div class="wrapper">
        <div class="container">
          <h1>Register to Medbooker</h1>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div
              class="form-control"
              [attr.data-error-message]="getErrorMessage('Firstname')"
              [class.error-message]="isInvalid('Firstname')"
            >
              <input
                nbInput
                type="text"
                placeholder="Firstname *"
                formControlName="Firstname"
                [class.valid]="isValid('Firstname')"
                [class.invalid]="isInvalid('Firstname')"
              />
            </div>
            <div
              class="form-control"
              [attr.data-error-message]="getErrorMessage('Lastname')"
              [class.error-message]="isInvalid('Lastname')"
            >
              <input
                nbInput
                type="text"
                placeholder="Lastname *"
                formControlName="Lastname"
                [class.valid]="isValid('Lastname')"
                [class.invalid]="isInvalid('Lastname')"
              />
            </div>
            <div
              class="form-control"
              [attr.data-error-message]="getErrorMessage('Email')"
              [class.error-message]="isInvalidEmail('Email')"
            >
              <input
                nbInput
                type="email"
                placeholder="E-mail *"
                formControlName="Email"
                [class.valid]="isValidEmail('Email')"
                [class.invalid]="isInvalidEmail('Email')"
              />
            </div>
            <span *ngIf="isError">{{ errorMessage }}</span>
            <div class="passwords-input" formGroupName="passwords">
              <div
                class="form-control"
                [attr.data-error-message]="
                  getErrorMessageForPasswords('Password')
                "
                [class.error-message]="isInvalidPassword('Password')"
              >
                <div class="password-container">
                  <input
                    nbInput
                    [type]="showPassword ? 'text' : 'password'"
                    placeholder="Password *"
                    formControlName="Password"
                    [class.valid]="isValidPassword('Password')"
                    [class.invalid]="isInvalidPassword('Password')"
                  />
                  <nb-icon
                    *ngIf="showPassword"
                    icon="eye-off-outline"
                    class="visibility-icon"
                    (click)="toggleShowPassword()"
                  ></nb-icon>
                  <nb-icon
                    *ngIf="!showPassword"
                    icon="eye-outline"
                    class="visibility-icon"
                    (click)="toggleShowPassword()"
                  ></nb-icon>
                </div>
              </div>
              <div
                class="form-control"
                [attr.data-error-message]="
                  getErrorMessageForPasswords('Confirmpassword')
                "
                [class.error-message]="isInvalidPassword('Confirmpassword')"
              >
                <div class="password-container">
                  <input
                    nbInput
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    placeholder="Confirm Password *"
                    formControlName="Confirmpassword"
                    [class.valid]="isValidPassword('Confirmpassword')"
                    [class.invalid]="isInvalidPassword('Confirmpassword')"
                  />
                  <nb-icon
                    *ngIf="showConfirmPassword"
                    icon="eye-off-outline"
                    class="visibility-icon"
                    (click)="toggleShowConfirmPassword()"
                  ></nb-icon>
                  <nb-icon
                    *ngIf="!showConfirmPassword"
                    icon="eye-outline"
                    class="visibility-icon"
                    (click)="toggleShowConfirmPassword()"
                  ></nb-icon>
                </div>
              </div>
            </div>
            <div class="form-field form-control">
              <input
                type="radio"
                id="patient"
                [value]="role.Patient"
                formControlName="role"
              />
              <label for="patient">Patient</label>
              <input
                type="radio"
                id="doctor"
                [value]="role.Doctor"
                formControlName="role"
              />
              <label for="doctor">Doctor</label>
            </div>
            <div
              class="form-field"
              [ngClass]="isDoctorSelected ? 'show' : 'hide'"
              [attr.data-error-message]="getErrorMessage('specialty')"
              [class.error-message]="isInvalid('specialty')"
            >
              <ng-container *ngIf="specialties$ | async as specialties">
                <nb-select
                  [fullWidth]="false"
                  formControlName="specialty"
                  placeholder="Select Specialty"
                >
                  <nb-option
                    *ngFor="let specialty of specialties"
                    [value]="specialty.type"
                    >{{ specialty.type }}</nb-option
                  >
                </nb-select>
              </ng-container>
            </div>
            <button nbButton outline status="basic" type="submit">
              Register
            </button>
          </form>
        </div>
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </nb-layout-column>
  </nb-layout>
</ng-container>
