@import "../../shared/custom-ui-styles/buttons/second-button";

:host {
  .buttons {
    button {
      @include second-button;
      width: 210px;
      margin-bottom: 15px;
      font-size: 10px;
      font-weight: bolder;
    }
    div {
      .activated {
        background-color: #53e3a6 !important;
        color: white !important;
      }
    }
  }
}
