<nb-layout>
  <nb-layout-column>MAP</nb-layout-column>
  <nb-layout-column>
    <section *ngIf="searchForm" class="first-section">
      <form [formGroup]="searchForm">
        <input
          type="text"
          nbInput
          fullWidth
          status="success"
          placeholder="Enter Firstname"
          formControlName="firstName"
        />
        <input
          type="text"
          nbInput
          fullWidth
          status="success"
          placeholder="Enter Lastname"
          formControlName="lastName"
        />
      </form>
    </section>
    <section *ngIf="doctors$ | async as doctors">
      <nb-card accent="success" *ngFor="let doctor of doctors">
        <nb-card-header>
          {{ doctor.firstName }} {{ doctor.lastName }}
          <p>{{ doctor.practiceName }}</p>
        </nb-card-header>
        <nb-card-body>
          <button
            nbButton
            outline
            status="success"
            (click)="doctorBook(doctor)"
          >
            Book
          </button>
        </nb-card-body>
      </nb-card>
    </section>
  </nb-layout-column>
</nb-layout>
