<nb-layout>
  <nb-layout-column class="map-container">
    <app-map [initialState]="initialState"></app-map>
  </nb-layout-column>
  <nb-layout-column>
    <section *ngIf="searchForm" class="first-section">
      <form [formGroup]="searchForm">
        <input
          type="text"
          nbInput
          fullWidth
          status="success"
          placeholder="Enter Firstname"
          formControlName="firstName"
        />
        <input
          type="text"
          nbInput
          fullWidth
          status="success"
          placeholder="Enter Lastname"
          formControlName="lastName"
        />
      </form>
    </section>
    <ng-container *ngIf="doctors$ | async as doctors">
      <p *ngIf="doctors.length === 0">No results found</p>
      <section *ngIf="doctors.length > 0">
        <nb-card accent="success" *ngFor="let doctor of doctors">
          <nb-card-header>
            {{ doctor.firstName }} {{ doctor.lastName }}
            <p>{{ doctor.specialty.type }}</p>
          </nb-card-header>
          <nb-card-body>
            <button
              nbButton
              outline
              status="success"
              (click)="doctorBook(doctor)"
            >
              Book
            </button>
          </nb-card-body>
        </nb-card>
      </section>
    </ng-container>
  </nb-layout-column>
</nb-layout>
