<nb-card accent="success" *ngIf="booking" (click)="getBooking(booking)">
  <nb-card-header>
    <ng-container *ngIf="(loggedInUserRole$ | async) == role.Patient">
      {{ booking.doctor.firstName | titlecase }}
      {{ booking.doctor.specialty.type | titlecase }}
    </ng-container>
    <ng-container *ngIf="(loggedInUserRole$ | async) == role.Doctor">
      {{ booking.patient.firstName | titlecase }}
      {{ booking.patient.lastName | titlecase }}
    </ng-container>
  </nb-card-header>
  <nb-card-body>
    {{ booking.startTime | date : "medium" }}
  </nb-card-body>
</nb-card>
