<nb-card accent="success" class="first-card" routerLink="/shell/search">
  <nb-card-header class="first-header">Need to see a doctor?</nb-card-header>
  <nb-card-body>
    search for a healthcare professional close to you using the find a provider
    tool
  </nb-card-body>
</nb-card>
<nb-card
  accent="success"
  class="second-card"
  routerLink="/shell/upcoming-consultations"
>
  <nb-card-header>Upcoming consultations</nb-card-header>
</nb-card>
<nb-card accent="success" class="third-card" routerLink="/shell/health-records">
  <nb-card-header>Health records</nb-card-header>
</nb-card>
