<nb-layout>
  <nb-layout-column class="colored-column-warning left-column">
    <nb-card class="first-card" accent="success">
      <nb-card-header>Consultation requests</nb-card-header>
      <ng-container *ngIf="bookings$ | async as bookings">
        <nb-card-body *ngIf="bookings && bookings.length > 0">
          <ng-container *ngFor="let booking of bookings">
            <!-- <app-request-card
              [booking]="booking"
              (statusChange)="onStatusChange($event)"
            ></app-request-card> -->
            <app-request-card [booking]="booking"></app-request-card>
          </ng-container>
        </nb-card-body>
      </ng-container>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column class="colored-column-danger right-column">
    <nb-card
      class="first-card"
      accent="success"
      routerLink="/shell/upcoming-consultations"
    >
      <nb-card-header>Upcoming consultations</nb-card-header>
    </nb-card>
    <nb-card class="second-card" accent="success" routerLink="/shell/patients">
      <nb-card-header>Patients</nb-card-header>
    </nb-card>
  </nb-layout-column>
</nb-layout>
